# ===================================================================
# tpRigToolkit-libs-spaceswitcher requirements file
# ===================================================================

Qt.py
tpRigToolkit-core